.textFild {
    font-family: Inter;
    font-weight: 600;
    margin-top: .5rem;
    width: 30vw;
}

#title-login {
    color: #210011;
    font-family: Inter;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#container-btn {
    display: flex;
    justify-content: center;
}

.btn {
    width: 30vw;
    height: 60px;
    border-radius: 12px;
}

@media (max-width: 960px) {

    .textFild {
        margin-top: .5rem;
        width: 62vw;
    }

    .btn {
        width: 62vw;
    }

}

@media (max-width: 520px) {
    .textFild {
        margin-top: .5rem;
        width: 80vw;
    }

    .textFild-row {
        width: 80vw;
    }

    .btn {
        width: 80vw;
    }

}